.btn-action {
  display: inline-block;
  font-size: 15px;
  font-weight: 800;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: $white;
  background: #e57807;
  border-radius: 30px;
  padding: 8px 20px;
  text-transform: uppercase;
  border: 1px solid #e57807;
  cursor: pointer;
  transition: $transition;


  &:hover {
    opacity: 0.8;
    color: $white;
  }
}