.filter-box {
  position: relative;
}

.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  flex-wrap: wrap;
  transition: $transition;
  font-family: 'Raleway-Bold';

  @include media-breakpoint-down(sm) {
    display: block;
    background: $hover-color;
    text-align: center;
    padding-bottom: 10px;
    height: 40px;
    overflow: hidden;
    margin-bottom: 15px;
  }

  &.open {
    @include media-breakpoint-down(sm) {
      height: auto;
    }
  }

  &__item {
    margin-left: 15px;

    @include media-breakpoint-down(sm) {
      margin-left: 0;
    }

    &:first-child {
      margin-left: 0;
    }
  }

  &__link {
    font-weight: bold;
    line-height: 2;
    letter-spacing: -0.4px;
    text-align: center;
    color: $dark-gray;
    text-transform: uppercase;

    @include media-breakpoint-down(sm) {
      color: $white!important;
      font-size: 15px;
    }

    &:hover {
      color: $hover-color;
    }
  }
}

.filter-trigger {
  position: absolute;
  top: 50%;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transform: translateY(-50%);
  background: #f5f5f5;
  padding: 10px 25px;
  border-radius: 30px;

  @include media-breakpoint-down(sm) {
    display: none;
  }

  &__item {
    cursor: pointer;

    &.active {
      i {
        color: $hover-color;
      }
    }
  }
}

.filter-horizon {
  margin-right: 20px;
}

.filter-vertical {
  transform: rotate(90deg);
}

.filter-menu {
  position: relative;
  &.open {
    &:after {
      transform: rotate(-90deg);
    }
  }
  @include media-breakpoint-down(sm) {
    background: $hover-color;
    padding-top: 5px;
    color: $white;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    font-size: 14px;
  }

  &:after {
    display: none;
    content: "\f054";
    position: absolute;
    top: 20px;
    right: 20px;
    margin-top: -12px;
    transform: rotate(90deg);
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    transition: $transition;

    @include media-breakpoint-down(sm) {
      display: block;
    }
  }
}