.form {
  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media-breakpoint-down(md) {
      display: block;
    }
  }

  &__input  {
    margin-left: 25px;
    font-family: 'HelveticaRegular';

    @include media-breakpoint-down(sm) {
      margin: 0 0 15px 0;
    }

    &:first-child {
      margin-left: 0;
    }
  }

  &__textarea {
    font-family: 'HelveticaRegular';
    color: $white;
    margin-top: 30px;

    @include media-breakpoint-down(sm) {
      margin-top: 0;
    }
  }
}
