.make-order-link {
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  right: 50px;
  width: 250px;
  height: 250px;
  cursor: pointer;
  background: {
    image: url("../../assets/images/zak-not-text.png");
    size: cover;
  };
  transition: $transition;
  z-index: 20;

  @include media-breakpoint-down(lg) {
    width: 200px;
    height: 200px;
  }

  @include media-breakpoint-down(md) {
    width: 150px;
    height: 150px;
  }

  @include media-breakpoint-down(sm) {
    width: 100%;
    height: 30px;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("../../assets/images/order.png");
  }

  &__text {
    max-width: 100px;
    font-size: 19px;
    font-weight: 800;
    line-height: 1.05;
    text-align: center;
    color: $white;
    text-transform: uppercase;
    margin-bottom: 55px;

    @include media-breakpoint-down(lg) {
      font-size: 14px;
      margin-bottom: 40px;
    }

    @include media-breakpoint-down(md) {
      font-size: 10px;
      margin-bottom: 27px;
      max-width: 75px;
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 0;
      font-size: 12px;
    }

    br {
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
  }
}

.make-order {
  .make-order-link {
    opacity: 1;
  }
}