.menu-box {

  .menu {
    &.open {
      @include media-breakpoint-down(md) {
        display: block;
      }
    }

    @include media-breakpoint-down(md) {
      display: none;
      position: absolute;
      top: 50px;
      left: 50%;
      width: 94%;
      transform: translateX(-50%);
      text-align: center;
      padding: 15px;
      background: $hover-color;
      transition: $transition;
    }
  }
}

.menu {
  display: flex;
  align-items: center;
  font-family: 'Raleway-Bold';

  li {
    margin-left: 50px;
    @media screen and (max-width: 1350px) {
      margin-left: 30px;
    }

    @include media-breakpoint-down(md) {
      margin-left: auto;
    }

    &:first-child {
      margin-left: 0;

      @include media-breakpoint-down(md) {
        margin-left: auto;
      }
    }

    a {
      color: $white;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.76;
      letter-spacing: -0.4px;
      text-align: center;

      &:hover {
        color: $hover-color;

        @include media-breakpoint-down(sm) {
          color: $white;
        }
      }
    }
  }

  .lang-item {
    margin-left: 10px;

    @include media-breakpoint-down(md) {
      margin-left: 0;
    }

    &.current-lang {
        a {
          color: $hover-color;

          @include media-breakpoint-down(md) {
            color: $white;
            border-bottom: 1px solid $white;
          }
        }
    }

    a {
      text-transform: none;
      font-size: 16px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: 0.5px;
    }
  }
}

.menu-icon {
  display: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: $transition;
  margin-top: -35px;

  @include media-breakpoint-down(md) {
    display: block;
  }

  &.open {
    svg {
      fill: $hover-color;
    }
  }

  svg {
    fill: $white;
  }
}

