.order-form {
  &__row {
    display: flex;

    @include media-breakpoint-down(md) {
      display: block;
    }
  }

  &__input {
    margin-left: 15px;

    @include media-breakpoint-down(md) {
      margin: 0 0 15px 0;
    }

    &:first-child {
      margin-left: 0;
    }
  }

  &__btn {
    margin-top: 35px;
  }
}