.open-popup {
  overflow: hidden;

  .overlay {
    display: block;
  }

  .popup {
    max-width: 88vw;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: $white;
    z-index: 25;
    height: 90vh;
    overflow: auto;

    .text-absolute {
      display: none;
    }

    .product-section {
      padding: 50px 0 0 0;
    }

    .headers {
      padding: 0;
    }

    .order {
      display: block;
      margin: 40px 50px;

      @include media-breakpoint-down(md) {
        margin: 0 0 40px 0;
      }
    }
  }

  .product__count {
    display: flex;
  }
}

.order {
  display: none;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $hover-color;
  opacity: 0.8;
  z-index: 20;
}