.product-slider {
  position: relative;
  margin-bottom: 40px;

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 13%;
    z-index: 2;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+52,7db9e8+100&1+6,0+100 */
    background: -moz-linear-gradient(left, rgba(255,255,255,1) 6%, rgba(255,255,255,0.51) 52%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 6%,rgba(255,255,255,0.51) 52%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(255,255,255,1) 6%,rgba(255,255,255,0.51) 52%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 */

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  &:before {
    left: 0;
  }

  &:after {
    right: 0;
    transform: rotate(180deg);
  }

  .slick-slide {
    margin-left: 20px;
    @include media-breakpoint-down(sm) {
      margin: 0 10px;
    }

    &.open {
      display: block !important;
    }

    &.close {
      display: none !important;
    }
  }
  .slick-list {
    @include media-breakpoint-down(md) {
      padding: 0 10px!important;
    }
  }

  .slick-arrow {
    width: 50px;
    height: 50px;
    font-size: 19px;
    color: $dark-gray;
    z-index: 10;
    background: $white;
    border-radius: 50%;

    @include media-breakpoint-down(md) {
      font-size: 12px;
    }

    @include media-breakpoint-down(sm) {
      width: 40px;
      height: 40px;
      top: 32%;
    }

    &:before {
      content: none;
    }

    &:hover {
      opacity: 1;
    }
  }

  .slick-next {
    right: 80px;

    @include media-breakpoint-down(md) {
      right: 15px;
    }
    @include media-breakpoint-down(sm) {
      right: 0;
    }
  }

  .slick-prev {
    left: 80px;
    @include media-breakpoint-down(md) {
      left: 15px;
    }
    @include media-breakpoint-down(sm) {
      left: 0;
    }
  }
}

.slick-track {
  display: flex;
}


