.product-tile-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  transition: $transition;

  &.open {
    height: auto;
    overflow: visible;
    max-height: 100%;

    +.show-more-box {
      display: none;
    }
  }

  .product {
    width: 32%;
    max-width: 650px;
    margin-bottom: 40px;
    margin-left: 20px;

    @include media-breakpoint-down(sm) {
      width: 100%;
      margin: 0 0 20px 0;
    }

    &:first-child {
      margin-left: 0;
    }
  }
}

.show-more-box {
  width: 100%;
  text-align: center;
}

.show-more {
  display: inline-block;
  color: $hover-color;
  padding: 10px 40px;
  border: 2px solid #f4f4f4;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 30px;
  cursor: pointer;
}