.product {
  display: block;
  max-width: 400px;
  font-family: 'Raleway-Bold';

  @include media-breakpoint-down(sm) {
    max-width: 100%;
  }

  &__img {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 400px;
    padding: 0 20px;
    background: {
      image: url("../../assets/images/bg.png");
      size: cover;
      repeat: no-repeat;
      position: center center;
    };

    @include media-breakpoint-down(md) {
      height: 350px;
    }

    img {
      width: 100%;
    }
  }

  &__title {
    display: block;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: -0.5px;
    text-align: center;
    color: $dark-gray;
    margin: 15px auto;
    text-transform: uppercase;
    font-family: 'Raleway-ExtraBold';
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @include media-breakpoint-down(sm) {
      font-size: 17px;
      margin-top: 20px;
    }
  }

  &__price {
    display: flex;
    justify-content: space-between;
    background: #f4f4f4;
    border-radius: 30px;
    padding: 5px 12px;
    max-width: 150px;
    font-family: 'Rubik-Medium';
    @include media-breakpoint-down(sm) {
      margin: 0 auto auto auto;
    }

    &--number {
      font-size: 28px;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.07;
      letter-spacing: -0.7px;
      text-align: center;
      color: #eb8a25;
      font-weight: 800;
      margin-left: -23px;
    }


    &--img {
      display: inline-block;
      width: 35px;
      height: 34px;
      margin-left: 5px;
      background: {
        image: url("../../assets/images/monet.png");
        size: cover;
        repeat: no-repeat;
        position: center center;
      };
    }
  }

  &__count {
    display: none;
    justify-content: space-between;
    background: #f4f4f4;
    border-radius: 30px;
    padding: 8px 12px;
    max-width: 150px;
    min-height: 43px;

    &--input {
      border: 0;
      background: transparent;
      text-align: center;
    }

    .sub, .add {
      color: #000;
      font-size: 22px;
      font-weight: 600;
    }
  }

  &__order {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .currency {
    font-size: 20px;
  }

  &:hover {
    .product-hover {
      top: 0;
    }
  }
}

.product-hover {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(245,167,25, 0.8);
  transition: $transition;
  padding: 40px;

  @include media-breakpoint-down(sm) {
    padding: 20px 40px;
  }

  &__img {
    display: block;
    width: 40px;
    height: 40px;
    margin: 20px auto;
  }

  &__title {
    display: block;
    font-size: 15px;
    font-weight: bold;
    line-height: 2;
    letter-spacing: -0.4px;
    text-align: center;
    color: $white;
    text-transform: uppercase;
  }

  &__text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.5px;
    text-align: center;
    color: $white;
    font-family: 'HelveticaRegular';
    @include textOverflowMultiLine(21px, 3);
  }
}

.product-hover-text-box {
  display: block;
  margin-bottom: 30px;



    &:last-child {
      .product-hover__text {
        @include textOverflowMultiLine(21px, 2);
      }
  }
}
