.slider-reviews {
  position: relative;

  .slick-list {
    max-width: 1200px;
    margin: auto;
    padding: 0!important;
  }

  .slick-current.slick-active {
    .slider-reviews__img {
      padding: 11px 7px 0 8px;

      @include media-breakpoint-down(md) {
        padding: 0;
      }
    }
  }

  &__social {
    position: absolute;
    top: 0;
    right: -10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: $dark-gray;
    line-height: 40px;
    text-align: center;

    &.facebook,
    &.google,
    &.instagram,
    &.twitter {
      &:before {

        color: $white;
        font-family: 'Font Awesome 5 Brands';
      }
    }

    &.facebook {
      background: #2061da;

      &:before {
        content: "\f39e";
      }
    }

    &.instagram {
      background: #e1306c;

      &:before {
        content: "\f16d";
      }
    }

    &.google {
      background: #ed523d;

      &:before {
        content: "\f0d5";
      }
    }

    &.twitter {
      background: #26c9ff;
      &:before {
        content: "\f099";
      }
    }
  }

  &__name {
    font-size: 15px;
    font-weight: bold;
    letter-spacing: -0.4px;
    text-align: center;
    color: $white;
    text-transform: uppercase;
    max-width: 173px;
    margin: 15px auto auto auto;
  }

  &__img {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    margin: auto;
    background: $hover-color;
    transition: $transition;
  }

  &__text {
    font-size: 25px;
    letter-spacing: -0.8px;
    text-align: center;
    color: $white;
    margin-top: 40px;
    font-weight: 400;
    font-family: 'comic';

    @include media-breakpoint-down(md) {
      margin-top: 30px;
      font-size: 20px;
    }

    @include media-breakpoint-down(sm) {
      margin-top: 10px;
      font-size: 18px;
    }
  }

  .slick-arrow {
    width: 50px;
    height: 50px;
    font-size: 19px;
    color: #ddd;
    z-index: 10;
    background: $white;
    border-radius: 50%;

    @include media-breakpoint-down(md) {
      font-size: 12px;
    }

    @include media-breakpoint-down(sm) {
      background: #9bc029;
      font-size: 15px;
      color: $white;
    }

    &:hover {
      opacity: 0.7;

      @include media-breakpoint-down(sm) {
        background: #9bc029;
      }
    }

    &:before {
      content: none;
    }

    &:hover {
      opacity: 1;
    }
  }

  .slick-next {
    right: 30px;

    @include media-breakpoint-down(md) {
      right: 15px;
    }

    @include media-breakpoint-down(sm) {
      right: -10px;
    }
  }

  .slick-prev {
    left: 30px;
    @include media-breakpoint-down(md) {
      left: 15px;
    }

    @include media-breakpoint-down(sm) {
      left: -10px;
    }
  }

  .slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
    outline: none;
    background: $white;
    color: $text-color;
  }

}

.reviews {
  &__description {
    color: $white;
    font-family: 'HelveticaRegular';
  }
}

.slider-reviews-item {
  position: relative;
}

.slider-reviews-info {
  width: 150px;
  height: 150px;
  position: relative;
  margin: auto;
}