.social-icon {
  margin-top: 50px;

  @include media-breakpoint-down(sm) {
    margin-top: 30px;
  }

  .menu {

    @include media-breakpoint-down(sm) {
      justify-content: center;
    }

    li {
      margin-left: 30px;
      &:first-child {
        margin-left: 0;
      }
    }

    a {
      display: flex;
      width: 30px;
      height: 30px;
      background: $white;
      border-radius: 50%;
      align-items: center;
      justify-content: center;
      font-size: 9px;
      color: $text-color;
    }
  }
}
