.about-section {
  width: 100%;
  background: {
    position: center left;
    size: cover;
    repeat: no-repeat;
  }
;
  @include media-breakpoint-down(md) {
    overflow: hidden;
  }
}

.about {
  &__file {
    position: relative;
    z-index: 10;
    @include media-breakpoint-down(md) {
      text-align: center;
      margin-bottom: 20px;
    }
  }
}

.headers {
  text-align: center;
  padding: 30px 0;
  @include media-breakpoint-down(md) {
    padding: 0;
  }

  p {
    @include media-breakpoint-down(sm) {
      font-size: 13px;
      line-height: 18px;
    }
  }
}

.about-text-box {
  position: relative;

  .title {
    position: relative;
    margin-bottom: 40px;
    text-align: left;
    z-index: 10;

    @include media-breakpoint-down(md) {
      text-align: center;
      font-size: 20px;
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 15px;
    }
  }

  p {
    position: relative;
    max-width: 500px;
    z-index: 10;

    @include media-breakpoint-down(md) {
      max-width: 100%;
      text-align: center;
    }
  }
}

.text-absolute {
  position: absolute;
  top: -6.5%;
  left: -10%;
  z-index: 5;
  font-size: 142px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.21;
  letter-spacing: -3.6px;
  text-align: left;
  color: #fcfcfc;
  text-transform: uppercase;
  text-shadow: 0 5px 81px rgba(0, 0, 0, 0.03);

  @include media-breakpoint-down(md) {
    top: 30%;
    left: 0;
    width: 100%;
    text-align: center;
  }

  @include media-breakpoint-down(sm) {
    left: -50%;
    width: 200vw;
  }
}