.accessories-section {
  overflow: hidden;

  @include media-breakpoint-down(sm) {
    padding-bottom: 20px;
  }
}

.accessories-text {
  max-width: 550px;
  margin-bottom: 40px;

  @include media-breakpoint-down(md) {
    max-width: 100%;
    text-align: center;
  }

  @include media-breakpoint-down(sm) {
    margin-bottom: 15px;
  }
  
  .title,
  ul,
  p {
    position: relative;
    z-index: 10;
  }

  .title {
    margin-bottom: 40px;
    @include media-breakpoint-down(md) {
      margin-bottom: 35px;
      font-size: 35px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 22px;
      margin-bottom: 10px;
    }
  }

  .text-absolute {
    @media screen and (max-width: 1100px) {
      top: 5%;
      text-align: center;
      font-size: 110px;
    }
  }
}
