.advantages-section {
  background: {
    position: center left;
    size: cover;
    repeat: no-repeat;
  }
}

.advantages-main {
  text-align: left;

  @include media-breakpoint-down(md) {
    text-align: center;
  }

  &__img {
    margin-bottom: 30px;
  }

  &__title {
    color: $white;
    font-weight: 800;
    .title-global {
      font-size: 50px;
      font-weight: 800;
      letter-spacing: -0.6px;
      color: $white;

      @media screen and (max-width: 1100px) {
        font-size: 45px;
      }

      @include media-breakpoint-down(md) {
        font-size: 40px;
      }

      @include media-breakpoint-down(sm) {
        font-size: 30px;
      }
    }

    &--before {
      font-size: 30px;
      letter-spacing: -0.8px;
      color: $white;
    }

    &--after {
      font-size: 20px;
      line-height: 1.2;
      letter-spacing: -0.5px;

      @include media-breakpoint-down(sm) {
        font-size: 13px;
        font-family: 'HelveticaRegular';
        font-weight: 400;
      }
    }
  }
}

.advantages {
  margin-top: 40px;

  @include media-breakpoint-down(md) {
    margin-top: 20px;
  }

  &__icon {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 50px;
    height: 50px;

    @include media-breakpoint-down(md) {
      margin: auto;
    }

    img {
      width: 100%;
      height: auto;
      max-width: 50px;
    }
  }

  &__title {
    font-size: 20px;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: -0.5px;
    text-align: left;
    color: $white;
    margin: 20px 0;
    text-transform: uppercase;

    @include media-breakpoint-down(md) {
      text-align: center;
      margin: 10px 0;
    }
  }

  &__text,
  p {
    color: $white;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 0.5px;
    text-align: left;

    @include media-breakpoint-down(md) {
      text-align: center;
    }

    p {
      margin: 0;
    }

    ul {
      padding: 0;
      margin: 0;
      color: $white;
    }
  }

  &__text {
    max-width: 250px;
    @include media-breakpoint-down(md) {
      max-width: 100%;
    }
  }
}