.callback-section {
  position: relative;
  background: {
    position: top center;
    size: cover;
    repeat: no-repeat;
  }

  &.section {
    padding-bottom: 60px;

    @include media-breakpoint-down(md) {
     padding-top: 90px;
      padding-bottom: 20px;
    }
  }
}

.callback-box {
  display: flex;
  justify-content: space-around;
  align-items: center;

  @media screen and (max-width: 1070px) {
    display: block;
    text-align: center;
  }
}

.callback {

  &__title {
    color: $white;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 30px;
    letter-spacing: -0.8px;
    margin: 0;

    @media screen and (max-width: 1350px) {
      font-size: 25px;
    }

    @media screen and (max-width: 1070px) {
      margin-bottom: 20px;
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 5px;
      font-size: 18px;
    }
  }

  &__contact {

    div.wpcf7-validation-errors{
      position: absolute;
      margin: 1.6em 0.5em 1em;
      
      @include media-breakpoint-down(md) {
        position: relative;
      }
    }
    span.wpcf7-not-valid-tip {
      position: absolute;
      left: 10px;

      @include media-breakpoint-down(md) {
        position: relative;
      }
    }

    p {
      display: flex;
      margin: 0;
      flex-wrap: wrap;
      align-items: center;

      @media screen and (max-width: 1070px) {
        justify-content: center;
      }

      @include media-breakpoint-down(sm) {
        flex-direction: column;
      }
    }

    input {
      max-width: 300px;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.5px;
      color: $text-color;
      box-shadow: inset 4.7px 5.2px 0 0 rgba(144, 175, 0, 0.23);
      border: solid 1px #90af00;
      padding: 10px 20px;
      margin-left: 10px;

      @media screen and (max-width: 1390px) {
        max-width: 250px;
      }

      @media screen and (max-width: 1170px) {
        max-width: 200px;
      }

      @media screen and (max-width: 1070px) {
        max-width: 300px;
      }

      @include media-breakpoint-down(sm) {
        max-width: 320px;
        margin: 15px 0 0 0;
        text-align: center;
      }

      @include media-breakpoint-down(xs) {
        max-width: 280px;
      }
    }

    input[type=submit] {
      @extend .btn-action;
      box-shadow: none;
      padding: 8px 40px;

      @media screen and (max-width:900px) {
        margin-top: 15px;
      }

      @include media-breakpoint-down(sm) {
        padding: 8px 20px;
        font-size: 13px;
        margin-top: 20px;
      }
    }
  }
}

.download-menu {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__text {
    font-size: 15px;
    font-weight: bold;
    line-height: 2;
    letter-spacing: -0.4px;
    text-align: center;
    color: $hover-color;
    text-transform: uppercase;
  }

  &__icon {
    width: 80px;
    height: 80px;
    background: $white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}