.product-section {
  position: relative;
  .title {
    color: $dark-gray;

    @include media-breakpoint-down(sm) {
      margin: 0;
    }
  }

  .text-absolute {
    top: -2%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 172px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.17;
    letter-spacing: -4.3px;
    text-align: center;
    color: #fafafa;
    text-transform: uppercase;
    
    @include media-breakpoint-down(md) {
      display: none;
    }
  }
}

.product-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.5px;
  text-align: center;
  color: #686868;
  font-family: 'HelveticaRegular';

  @include media-breakpoint-down(sm) {
    margin-bottom: 10px;
    font-size: 14px;
  }
}