.top-info {
  &__section {
    position: relative;
    display: flex;
    width: 100%;
    min-height: 100vh;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background: {
      position: center left;
      size: cover;
      repeat: no-repeat;
    };
    padding-top: 150px;

    @include media-breakpoint-down(md) {
      padding-top: 145px;
    }

    @include media-breakpoint-down(sm) {
      background-position: center right;
      min-height: auto;
    }

    &:before {
      display: none;
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: #303446;
      opacity: 0.5;

      @include media-breakpoint-down(sm) {
        display: block;
      }
    }
  }

  &__text {
    position: relative;
    max-width: 480px;
    text-align: left;
    z-index: 10;

    @include media-breakpoint-down(sm) {
      text-align: center;
      margin: auto;
    }
  }

  &__desc {
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 0.5px;
    color: $white;
    margin: 30px 0 50px 0;
    font-family: 'HelveticaRegular';

    @include media-breakpoint-down(sm) {
      font-size: 15px;
      margin: 15px 0 30px 0;
    }
  }
}

.title-main {
  font-size: 40px;
  font-weight: 800;
  line-height: 1.15;
  letter-spacing: -1.2px;
  color: $white;
  text-transform: uppercase;
  font-family: 'Raleway-Bold';

  @include media-breakpoint-down(sm) {
    font-size: 30px;
  }

  span {
    display: block;
    color: $hover-color;
  }
}

.scroll-bottom {
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include media-breakpoint-down(md) {
    display: none;
  }

  &__text {
    font-size: 15px;
    font-weight: bold;
    line-height: 2;
    letter-spacing: -0.4px;
    text-align: center;
    color: $white;
    text-transform: uppercase;
  }

  &__icon {
    width: 80px;
    height: 80px;
    background: #303446;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
