@mixin placeholder() {
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    @content;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    @content;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    @content;
  }
  &:-moz-placeholder { /* Firefox 18- */
    @content;
  }
}

@mixin position($top, $right: $top, $bottom: $top, $left: $right) {
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin textOverflow() {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

@mixin textMaxHeight($line-height, $lines) {
  line-height: $line-height;
  max-height: $line-height*$lines;
  -webkit-line-clamp: $lines;
}

@mixin textOverflowMultiLine($line-height, $lines) {
  @include textMaxHeight($line-height, $lines);
  @include textOverflow();
}