@import 'bootstrap-vars';

//fonts

$base-font: 'Raleway', sans-serif;
$secondary-font: 'Rubik', sans-serif;
$third-font: 'comic', serif;

//colors

$dark: #000;
$white: #fff;
$red: #E83D3A;
$light-gray: #F3F3F3;
$text-color: #686868;
$text-secondary: #02324C;
$text-light: #C4C4C4;
$hover-color: #f5a719;
$dark-gray: #333;
$fb-color: #365E9D;
$pin-color: #CB1E26;
$inst-color: #DD2977;

$primary: #BFA04A;
$primary-light: #FBFAF4;
$secondary: #DCF5E8;

//animation

$transition: all 0.3s;
