html,
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: 'Raleway-Bold';
  line-height: 1.2;
  font-weight: normal;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body:not(.home) {
  .make-order-link__text {
    font-size: 13px;

    @media screen and (max-width: 1100px) {
      font-size: 11px;
    }

    @include media-breakpoint-down(md) {
      font-size: 10px;
    }
  }
}

main {
  flex: 1 0 auto;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  color: $text-color;
  font-family: 'HelveticaRegular';

  li {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.5px;

    @include media-breakpoint-down(sm) {
      font-size: 15px;
      line-height: 20px;
    }
  }
}

img {
  max-width: 100%;
}

button,
a {
  cursor: pointer;
  transition: $transition;
  text-decoration: none;
  outline: none;

  &:hover {
    text-decoration: none;
  }

  &:focus {
    outline: none;
  }
}

input {
  outline: none;
}

textarea {
  outline: none;
  resize: none;
}

p {
  font-size: 15px;
  line-height: 1.5;
  letter-spacing: 0.5px;
  color: $text-color;
  font-family: 'HelveticaRegular';

  @include media-breakpoint-down(sm) {
    font-size: 15px;
    line-height: 20px;
  }
}

.container {
  width: 1600px;
  max-width: 100%;
  padding: 0 30px;

  &-fluid {
    padding: 0 30px;
  }

  &.container-small {
    width: 990px;
  }

  @media (max-width: 767px) {
    padding: 0 15px;

    &-fluid {
      padding: 0 15px;
    }
  }
}

.col-sidebar {
  flex: 0 0 360px;
  width: 360px;
  max-width: 360px;
  padding: 0 15px;
  margin-left: 20px;

  @media (max-width: 1399px) {
    flex: 0 0 330px;
    width: 330px;
    max-width: 330px;
  }

  @media (max-width: 1199px) {
    margin: 0;
  }
}

.col {
  min-width: 1px;
}

.section {
  padding: 100px 0;

  @include media-breakpoint-down(md) {
    padding: 50px 0;
  }

  @include media-breakpoint-down(sm) {
    padding: 30px 0;
  }
}

.title,
.title-global {
  font-size: 33px;
  letter-spacing: -0.4px;
  color: $dark-gray;
  text-transform: uppercase;
  font-family: 'Raleway-ExtraBold';

  @include media-breakpoint-down(md) {
    font-size: 30px;
  }
}

.title {
  position: relative;
  z-index: 10;
  font-size: 26px;

  @include media-breakpoint-down(md) {
    font-size: 28px;
  }
}
