.footer {
  background: #323447;

  &.section {
    padding: 50px 0;
    @include media-breakpoint-down(sm) {
      padding: 10px 0 35px 0;
    }
  }

  .title {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.5px;
    color: $white;
    margin-bottom: 40px;

    @include media-breakpoint-down(sm) {
      text-align: center;
      margin: 30px 0 15px 0;
      font-size: 18px;
    }
  }
}

.footer-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  @include media-breakpoint-down(sm) {
    text-align: center;
  }

  .social-icon,
  .copyright {
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
}

.footer-text-box {
  font-family: 'HelveticaRegular';
}

.link-site,
.working-hours,
.footer-tel,
.footer-tel-viber,
.copyright {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.5px;
  color: #bababa;
  margin-bottom: 15px;
  font-family: 'HelveticaRegular';

  @include media-breakpoint-down(sm) {
    font-weight: 500;
  }
}

.footer-tel-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;

  @include media-breakpoint-down(sm) {
    justify-content: space-between;
  }

  a {
    margin-right: 25px;

    &:last-child {
      margin-right: 0;
    }

    @include media-breakpoint-down(sm) {
      margin-right: 10px;
      font-size: 14px;
    }
  }
}

.footer-tel,
.footer-tel-viber {
  display: flex;
  align-items: center;
  font-family: $secondary-font;

  &:before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    background: {
      image: url("../../assets/images/tel-icon.png");
      position: center center;
      repeat: no-repeat;
      size: cover;
    }
  ;

    @include media-breakpoint-down(sm) {
      margin-right: 5px;
    }
  }
}

.footer-tel-viber {
  &:before {
    background-image: url("../../assets/images/viber.png");
  }
}

.footer-contact,
.order {
  background: $hover-color;
  padding: 50px;
    @media screen and (max-width: 1100px) {
      padding: 40px 30px;
    }

  .wpcf7-form-control-wrap {
    display: inline-block;
    width: 48%;
    margin-left: 20px;

    @media screen and (max-width: 1100px) {
      width: 46%;
    }

    @include media-breakpoint-down(md) {
      width: 100%;
      margin: 15px 0 0 0;
    }

    &:first-child {
      margin-left: 0;
    }

    &.textarea-50,
    &.textarea-87 {
      width: 100%;
      margin-left: 0;
    }
  }

  @include media-breakpoint-down(sm) {
    background: transparent;
    text-align: center;
    padding: 0 20px;
  }

  @include media-breakpoint-down(xs) {
    padding: 0 10px;
  }

  input,
  textarea {
    background: transparent;
    border: 0;
    border-bottom: 1px solid $white;
    padding: 10px 10px 10px 0;
    color: $white;
    width: 100%;

    @include media-breakpoint-down(sm) {
      background: #f6f6f6;
      color: $text-color;
      padding: 10px;
      text-align: center;
    }
  }

  textarea {
    display: block;
    width: 100%;
    margin-top: 20px;

    @include media-breakpoint-down(sm) {
      margin-top: 0;
    }
  }

  ::-webkit-input-placeholder {
    color: $white;
    @include media-breakpoint-down(sm) {
      color: $text-color;
    }
  }
  ::-moz-placeholder {
    color: $white;
    @include media-breakpoint-down(sm) {
      color: $text-color;
    }
  }
  :-ms-input-placeholder {
    color: $white;
    @include media-breakpoint-down(sm) {
      color: $text-color;
    }
  }
  :-moz-placeholder {
    color: $white;
    @include media-breakpoint-down(sm) {
      color: $text-color;
    }
  }
}

.footer-contact {
  input[type="submit"] {
    @extend .btn-action;
    box-shadow: none;
    background: #e57807;
    max-width: 300px;
    text-align: center;
    margin-top: 40px;

    @include media-breakpoint-down(sm) {
      margin-top: 10px;
    }
  }
}

.mobile-content-footer {
  display: none;

  .copyright {
    margin-top: 15px;
    text-align: center;
  }

  .social-icon {
    margin-top: 15px;
  }

  @include media-breakpoint-down(sm) {
    display: block;
  }
}

.note {
  font-family: 'HelveticaRegular';
  margin-top: 10px;
  color: $red;
}