.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
  transition: $transition;

  &.fix {
    position: fixed;
    background: #303446;
    padding: 5px 0;
    
    .logo-mobil {
      display: block;
    }
    
    .logo-brand {
      display: none;
    }

    .menu-box .menu {
      top: 40px;
    }

    .menu li a {
      font-size: 15px;
    }

    .header-box {
      padding-top: 0;
    }
  }
}

.header-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  flex-wrap: wrap;

  @include media-breakpoint-down(md) {
    padding-top: 15px;
  }
}

.logo-brand {
  max-width: 200px;

  @include media-breakpoint-down(md) {
    display: none;
  }
}

.logo-mobil {
  display: none;
  width: 100px;

  @include media-breakpoint-down(md) {
    display: block;
  }
}

.tel {
  display: flex;
  align-items: center;
  font-size: 25px;
  font-weight: 600;
  line-height: 1.07;
  letter-spacing: -0.7px;
  color: $hover-color;
  font-family: 'Rubik-Regular';

  @include media-breakpoint-down(md) {
    width: 100%;
    justify-content: flex-end;
    font-size: 20px;
    margin-top: -35px;
  }

  &__icon {
    width: 35px;
    height: 35px;
    margin-right: 15px;

    @include media-breakpoint-down(md) {
      width: 25px;
      height: 25px;
    }
  }

  span {
    color: $white;
    font-weight: 500;
    margin-right: 10px;
  }
}